.scroll-in {
  animation: zoom-in-on-scroll linear;
  animation-timeline: view(30vh 0px);
  animation-range: entry;
}

.scroll-in-left {
  animation: zoom-in-on-scroll-left linear;
  animation-timeline: view(70vh -40vh);
}

.scroll-in-right {
  animation: zoom-in-on-scroll-right linear;
  animation-timeline: view(70vh -40vh);
}

.card-entry-anim {
  animation: card-entry-anim linear;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes card-entry-anim {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoom-in-on-scroll-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes zoom-in-on-scroll {
  from {
    transform: scale(1.5) translateY(40%);
  }
  to {
    transform: scale(1) translateY(0%);
  }
}
@keyframes zoom-in-on-scroll-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
