@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #101010;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  /* Gradient Animation */
  @keyframes gradient-animation {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  /* Wobble Animation */
  @keyframes wobble {
    0%,
    100% {
      transform: skew(0deg);
    }
    50% {
      transform: skew(5deg);
    }
  }

  /* style={{ "--delay": 2 } as React.CSSProperties} */
  /* Adding the Delay to the Animation */

  @keyframes blobanimation {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50%);
      transform: translateY(50%);
    }
    75% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  /* Utility Classes */
  .animate-gradient {
    animation: gradient-animation 8s ease infinite;

    background-size: 200% 200%;
  }

  .animate-wobble {
    animation: wobble 2s ease-in-out infinite;
  }

  .blob {
    animation: blobanimation 10s infinite linear;
    animation-delay: var(--delay);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-gradient {
  background: rgb(233, 27, 27);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.787) -20%,
    rgba(16, 16, 16, 1) 30%,
    rgba(16, 16, 16, 1) 70%,
    rgba(243, 243, 243, 1) 200%
  );
}

.header-title {
  font-size: 4.5rem;
  font-weight: 700;
}

.sub-title {
  font-size: 2.5rem;
  font-weight: 200;
}

#header {
  /* Background Gradient */

  background: #101010;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.408) -20%,
    rgba(16, 16, 16, 1) 30%,
    rgba(16, 16, 16, 1) 70%,
    rgba(243, 243, 243, 0.413) 200%
  );
}

/* Scrollbar for WebKit browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width to your preference */
}

/* Track for the scrollbar */
::-webkit-scrollbar-track {
  background: #1d1d1d; /* BG2 color for the track */
  border-radius: 5px; /* Rounded track */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #ef4444; /* Accent color for the thumb */
  border-radius: 10px; /* Rounded scrollbar thumb for a modern look */
  border: 2px solid #1d1d1d; /* Create some spacing with the track, using BG2 color */
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f3f3f3; /* Change thumb color to Text color for interactivity */
}

/* For Firefox */
body {
  scrollbar-width: thin; /* Use 'thin' for a more modern, slim scrollbar */
  scrollbar-color: #ef4444 #1d1d1d; /* Thumb color (accent) followed by track color (BG2) */
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(5);
  }
}

#main {
  animation-name: zoomIn;
  animation-timing-function: linear;
  animation-timeline: scroll();
}

@media screen and (max-width: 800px) {
  .header-title {
    font-size: 3.5rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .header-title {
    font-size: 2.5rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}

.dialog-content {
  position: fixed;
  top: 50%;
  overflow-y: auto;
  margin: auto;
  max-height: 100dvh;
  max-width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}
